@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'var';


html{
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}
a{
  color: $s-red;
  text-decoration: none;
}

*{
  font-family: 'Noto Sans', sans-serif;
}
p{
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
}

.title-1{
  font-size: 2.188rem;
  font-weight: bold;
}

.title-2{
  font-weight: bold;
  font-size:1.563rem;
}

.title-3{
  font-weight: bold;
  font-size:1.25rem;
}
.home-banner {
  background: url(../images/connect-bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  position: relative;
  #canvas{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
  }
  .logo-wrap {
    margin: auto;
    max-width: 1000px;
    padding: 0 20px;
  }
}
.navbar, .navbar-light{
  background: $p-red;
  .navbar-brand{
    margin-left: auto;
  }
  .navbar-nav{
    padding-left: 80px;
    .nav-item{
      margin-right: 15px;
      a.home{
        background:$m-blue;
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        bottom: 0;
        text-align: center;
        font-size: 35px;
        line-height: 56px;
      }
      a.nav-link{
        color: $white;
      }
    }
  }
  .mb-home{
    background:$m-blue;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    bottom: 0;
    text-align: center;
    font-size: 35px;
    line-height: 75px;
    text-decoration: none;
  }
}
.ceo-msg{
  padding: 5% 0;
  background: lighten($l-blue, 20%);
  span.icon-quotes.quote-icon {
    font-size: 60px;
    margin-left: -8px;
  }
  .msg-wrap{
    margin: auto;
    @media (max-width:767px) {
      margin-top: 50px;
    }
    .ceo-wrap{
      margin: auto;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      overflow: hidden;
      @media (max-width:767px) {
        width: 270px;
        height: 270px;
      }
      img{
        object-fit: cover;
      -o-object-position: center;
      object-position: center;
      width: 100%;
      height: 100%;
      }
    }
    .ceo-message{
      margin-top: auto;
      margin-bottom: auto;
      @media (max-width:767px) {
        margin-top: 50px;
        padding: 0 40px;
      }
    }
  }
}

.agenda{
  overflow: hidden;
  padding: 60px 0;
  
  .agenda-img{
    margin: auto;
    max-width: 350px;
    padding: 80px 0;
    @media (max-width:767px) {
      max-width: 270px;
    }
  }
  .download{
    display: block;
    position: relative;
    padding-left: 60px;
    color: $black;
    text-decoration: none;
    margin-top: 50px;
    span{
      color: $s-red;
      font-size: 50px;
      position: absolute;
      left: 0;
      bottom: 0;
      line-height: 1;
    }
    small{
      color: $s-red;
      font-size: 20px;
      margin-left: 15px;
    }
    @media (max-width:767px) {
      margin-top: 50px;
      padding-left: 80px;
      padding-right: 30px;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-left: 25px;
      margin-right: 25px;
      background: $s-red;
      margin: 0;
      color:$white;
      font-size: 16px;
      span{
        color:$white;
        font-size: 50px;
        position: absolute;
        left: 23px;
        bottom: 50%;
        line-height: 1;
        margin-bottom: -25px;
      }
      small{
        right: 20px;
        top: 50%;
        margin-top: -15px;
        position: absolute;
        color:$white;
      }
    }
  }
  .tab-wrap{
    padding: 0 2.5rem;
    padding-left: 0;
    @media (max-width:767px) {
      padding: 0;
    }
    
    .nav.nav-tabs{
      margin-bottom: -1px;
    }
    .nav-item{
      width: 50%;
      button{
        width: 100%;
        font-size: 4.938rem;
        text-align: center;
        font-weight: bold;
        background: $black;
        color: $white;
        border-radius: 0;
        line-height: 1;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        span{
          font-size: 1rem;
          display: block;
          font-weight: normal;
        }
      }
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
      background: $s-red;
    }
    .tab-content{
      .table-wrap{
        p{
          margin-top: 25px;
          margin-bottom: 0;
        }
        border: 1px solid $s-red;
        padding: 2.875rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        @media (max-width:767px) {
          padding: 1.5rem;
        }
        h3.row{
          font-size: 1.25rem;
          font-weight: bold;
          border-bottom: 1px solid $black;
          @media (max-width:767px) {
            display: none;
            
          }
        }
        @media (max-width:767px) {
          .res-title{
            font-size: 1.25rem;
            font-weight: bold;
          }
          .col-sm-2{
            font-weight: bold;
            font-size: 1.2rem;
          }
        }
        .row{
          font-size: 1.25;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }
}
.footer-section{
  margin-top: 0;
  .container{
    position: relative;
  }
  .footer{
    background: $black;
    padding: 100px 30px;
    padding-top: 150px;
    @media (max-width:767px) {
      padding-left: 0;
      padding-right: 0;
    }
    article{
      ul{
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li{
          text-align: center;
          margin: 0;
          display: inline-block;
          padding: 0;
          @media (max-width:767px) {
            margin-bottom: 25px;
          }
          a{
            color: $white;
            text-decoration: none;
            margin: 15px;
            padding: 20px;
            @media (max-width:767px) {
              padding-left: 12px;
              padding-right: 12px;
              margin: 0;
              flex: 16px;
            }
          }
        }
      }
      &.sm{
        margin-top: 80px;
        li{
          a{
            font-size: 50px;
          }
        }
      }
    }
  }
  .tagline{
    position: absolute;
    top: -191px;
    background: $p-red;
    left: 0;
    right: 0;
    color: $white;
    text-align: center;
    padding: 25px;
    @media (max-width:767px) {
      left: 30px;
      right: 30px;
      font-size: 16px;
    }
  }
}

.teaser-video-wrap{
  background: $m-blue;
  &.sixth-activity{
    background-color: $s-red;
  }

  .video-poster{
    background:url(../images/collaboration-t2.png) right;
    background-size: cover;
    height: 700px;
    position: relative;
    width: 100%;
    @media (max-width:767px) {
      height: 250px;
    }
    span {
      width: 140px;
      display: block;
      height: 140px;
      margin: auto;
    }
    &.teaser-2{
      background: url(../images/teaser-2.png);
      background-size: cover;
    }
    &.teaser-3{
      background: url(../images/activity-3.jpg);
      background-size: cover;
    }
    
    &.dlc-heroes{
      background: url(../images/heroes-banner.png);
      background-size: cover;
    }
    
    &.dlc-winners{
      background: url(../images/dlc-winners.jpg);
      background-size: cover;
    }
    
    &.contribution{
      background: url(../images/aline.jpg);
      background-size: cover;
    }
  }
  .text-wrap{
    margin-top: auto;
    padding-bottom: 5rem;
    padding-left: 4rem;
    color: $white;
    margin-right: 4rem;
    @media (max-width:767px) {
      margin: 0;
      padding:4rem 2rem ;
    }
    a{
      color: $white;
    }
  }
}
#videos{
  @media (max-width:767px) {
    margin-bottom: 60px;
  }
  
}

.video-pp {
	iframe {
		width: 100%;
		height: 448px;
		vertical-align: bottom;
	}
	.btn-close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		width: 50px;
		height: 50px;
		color: #fff;
		border-radius: 0;
		z-index: 2000;
    pointer-events: all;
		&::before {
			color: #fff;
			font-size: 26px;
			line-height: 1;
			text-align: center;
		}
		&:hover {
			opacity: 1;
		}
	}
}

.id-modal.id-video-pp {
  height: 100%;
  @media (max-width: 950px) {
    .modal-dialog {
      height: 100%;
    }
  }
}
.id-modal .modal-dialog {
  height: 100%;
  max-width: 100%;
  margin: 0;
}
.id-modal .modal-content {
  height: 100%;
  border: 0 none;
}
.id-modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: 50px;
  height: 50px;
  color: #fff;
  background: #EF233C;
  border-radius: 0;
  opacity: 1;
  z-index: 2000;
  pointer-events: visible;
}
.id-modal .modal-content .embed-responsive {
  height: 100%;
}
.id-modal .modal-content .embed-responsive iframe {
  height: 100%;
  width: 100%;
}

.pre-event{
  background: url(../images/pre-bg.jpg) center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .title-1{
    position: absolute;
    left: 8%;
    top: 8%;
    max-width: 400px;
  }
  .col-l{
    min-height: 100vh;
    @media (max-width:992px) {
      min-height: inherit;
    }
  }
  .col-r{
    min-height: 100vh;
    @media (max-width:992px) {
      min-height: inherit;
    }
  }
  svg {
    width: 320px;
    height: 320px;
    border-radius:50%;
    margin:auto;
    @media (max-width:992px) {
      margin-top: 240px;
      margin-left: 50px;
    }
    @media (max-width: 767px){
      margin-top: 308px;
      margin-left: 50px;
      width: 200px;
      height: 200px;
    }
  }
  circle {
    fill: transparent;
  }
  .text {
    font-family: Roboto, sans-serif;
    fill: rgba(0, 180, 216, 1);
    font-size: 2px;
    text-align: left;
  }
  .st3 {
    font-size: 62px;
}
  .carousel{
    margin: auto;
  }
  .carousel, .carousel-inner{
    width:100%;
    
  }

  .carousel-item{
    width:100%;
  }
  
  .inner-wrap{
    padding:50px;
    min-height: 100vh;
    @media (max-width:1200px) {
      min-height: 1030px;
    }
    @media (max-width:992px) {
      min-height: inherit;
    }
    
    @media (max-width:767px) {
      padding: 4rem 2rem;
    }
    .slide-content{
      margin: auto 0;
      @media (max-width:992px) {
        padding-bottom: 50px;
      }
    }
  }
  
  .placeholder{
    stroke: rgba(0, 180, 216, 0.6);
  }
  .status{
    stroke: $s-red;
    @extend .anim-ease-in;
  }
  .qrc{
    max-width: 150px;
  }
  .mst{
    max-width: 300px;
  }
  p{
    font-size: 1.25rem;
  }
  p i{
    font-style: normal;
    font-size: 1rem;
  }
  ul{
    li{
      margin-bottom: 1.25rem;
    }
  }
  .button-wrap{
    margin-top: 50px;
    .btn{
      padding: 13px 30px;
      color: $s-red;
      border: 3px solid $s-red;
      background: transparent;
      border-radius: 0;
      @media (max-width:767px) {
        display: block;
      }
    }
    .btn-controls{
      padding: 13px;
      border: 3px solid ;
      margin-left: -8px;
      @media (max-width:767px) {
        width: 50% !important;
        float: left;
        margin-left: 0px;
      }
      &.prev{
        background: $black;
        color: $white;
        border: 3px solid $black;
        height: 62px;
        width: 55px;
        position: relative;
        &::before{
          transform: rotate(90deg);
          position: absolute;
          top: 18px;
          left: 16px;
        }
        &.disabled{
          color: #6f6666;
        }
      }
      &.next{
        border: 3px solid $s-red;
        background: $s-red;
        color: $white;
        height: 62px;
        position: relative;
        width: 55px;
        &::before{
          transform: rotate(-90deg);
          position: absolute;
          top: 18px;
          left: 16px;
          @media (max-width:767px) {
            left: inherit;
            right: 16px;
          }
        }
        &.disabled{
          color: #fb9898;
        }
      }
    }
  }

}